:{$PORT:80} {
    root * /app/public
    encode zstd gzip
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        X-Frame-Options DENY
    }
    php_server {
        try_files {path} index.php
    }
}
